body {
  font-family: 'Sarabun', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
}

.bg-table {
  background-color: #F8FAFD;
}

.tracking-wider {
  letter-spacing: 0.05rem;
}

.tracking-wide {
  letter-spacing: 0.025rem;
}

.cursor-copy {
  cursor: copy;
}

.rounded-borders {
  border-radius: 6px !important;
}

.legend-indicator {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

.data-title:hover {
  color: #006AFF !important;
}

.settings-data-card:hover {
  background-color: #F8FAFD;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: 1px solid #bdbdbd;
}